{% extends "base.html" %}
{% block content %}
<div class="side-menu">
</div>

<div class="content">

    <div class="Maj">Student in major <em>Artificial Intelligence and Smart Technology</em>
    </div>
    &nbsp;
    <div class="Maj">นักศึกษาในสาขาปัญญาประดิษฐ์ประยุกต์และเทคโนโลยีอัจฉริยะ</div>
    &nbsp;
    <div class="Fac">Faculty of Science and Art</div>
    &nbsp;
    <div class="Fac">คณะวิทยาศาสตร์และศิลปศาสตร์</div>
    &nbsp;
    <div class="Uni">Burapha University</div>
    &nbsp;
    <div class="Uni">มหาวิทยาลัยบูรพา</div>
    &nbsp;
</div>
{% endblock content %}